KIKU_ENV=production
KIKU_HOST=127.0.0.1
KIKU_PORT=8080
KIKU_DATA_DIR=/var/lib/kiku-reservations
KIKU_DB_PATH=/var/lib/kiku-reservations/reservations.sqlite3

KIKU_ADMIN_PASSWORD=change-this-before-production

KIKU_SMTP_HOST=smtp.strato.de
KIKU_SMTP_PORT=465
KIKU_SMTP_SECURITY=ssl
KIKU_SMTP_USER=info@kiku-bistro.de
KIKU_SMTP_FROM=info@kiku-bistro.de
KIKU_SMTP_PASSWORD=change-this-before-production
